@inherits BaseLoggedPage
@page "/NewUserWelcome"

@inject NavigationManager NavManager
@inject INotifier notifier

@using Auth.Domain.RequestsResponses


<h3>Welcome @LoggedUser?.Username . Your user is ativated!</h3>

@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (LoggedUser == null)
            NavManager.NavigateTo("/Login");
    }


}
