@inherits LayoutComponentBase
@inject AppState AppState
@inject NavigationManager NavManager
@implements IDisposable

@using Blazored.Toast.Configuration

<div class="page">
    <BlazoredToasts Position="ToastPosition.BottomRight"
                    Timeout="10"
                    IconType="IconType.FontAwesome"
                    ShowProgressBar="true"
                    SuccessClass="success-toast-override"
                    SuccessIcon="fas fa-check-circle"
                    ErrorIcon="fas fa-exclamation-circle"
                    WarningIcon="fas fa-exclamation-triangle"
                    />
    @Body
</div>
<style>
    .blazored-toast-container {
        z-index: 1000;
    }
</style>
@code
{
    protected override void OnInitialized()
    {
        AppState.OnChange += UserDataChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= UserDataChanged;
    }

    void UserDataChanged()
    {
        if( AppState.AuthenticatedUser == null)
            NavManager.NavigateTo("/Login");
        this.StateHasChanged();
    }

    private void LogoutUser()
    {
        AppState.SetAuthenticatedUser(null);
        NavManager.NavigateTo("/Login");
    }
}
